@import url('https://fonts.googleapis.com/css?family=Lato');
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body{
  font-family: "Lato";
}

table{
  margin-top: 5%;
  margin-bottom: 5%;
}

th{
  text-transform: uppercase;
  color: #007EA7;
  font-weight: bolder;
}

.footer{
  font-family: "Lato";
  background-color: #003249;
  color: #CCDBDC;
  padding: 2% 1% 2% 2%;
  text-transform: uppercase;
  font-size: 13px;
}

.page-title{
  text-align: center;

}
.page-title h1{
  text-transform: uppercase;
  color: #007EA7;
  font-size: 35px;
  font-weight: lighter;
}

nav{
  padding: 0 2% 0 2%;
}
.material-icons{
  vertical-align: middle;
  padding-right: 2%;
}
table a{
  color: #289304;
  text-transform: uppercase;
}
table a:hover{
  color: #000;
}
.path{
  background-color: #fbfbfb;
  padding: 1% 1% 1% 2%;
  text-transform: uppercase;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
}
.path ul{
  padding: 0;
  margin: 0;
}
.path ul li{
  display: inline-block;
  color: #007EA7;
}
.path ul li a{
  color: #007EA7;
}
.path ul li a:hover{
  color: #000;
}

/*----------- Form style starts here ---------*/

.form-lable{
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}

#user-id{
  font-size: 18px;
  width: 60px;
  height: 30px;
  padding-left: 1%;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
#first-name{
  font-size: 18px;
  width: 300px;
  height: 30px;
  padding-left: 1%;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
#last-name{
  font-size: 18px;
  width: 300px;
  height: 30px;
  padding-left: 1%;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
#user-email{
  font-size: 18px;
  width: 300px;
  height: 30px;
  padding-left: 1%;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
#user-age{
  font-size: 18px;
  width: 50px;
  height: 30px;
  padding-left: 1%;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
input, button, submit{
  border:none;
}
#submit-button{
  height: 40px;
  width: 150px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #22b346;
  color: #fff;
  border: 1px solid #027907;
  border-radius: 2px;
  margin-right: 2%;
}

.delete-btn{
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #ff0000;
  background-color: #ff8686;
  border-radius: 2px;
  width: 150px;
  height: 40px;
  color: #fff;
}
.delete-btn a{
  color: #fff;
}
.pages{
  text-align: center;
}
#post-button{
  height: 45px;
  width: 140px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2a8bf5;
  color: #fff;
  border: 1px solid #005EC5;
  border-radius: 2px;
  margin-right: 2%;
}

textarea{
  border-radius: 2px;
  resize: none;
}

textarea:focus{
  outline:none;
}

select{
  border: 1px solid #000;
}

/*------ Collapsible header ------------*/
.collapsible-header{
  font-weight: bold;
  font-size: 20px;
  background-color: #f5f5f5;
  color: #007EA7;
}
.collapsible-body{
  font-size: 16px;
}

/*------- Parallax --------*/
.parallax-container {
  height: 600px;
}
